// color variables
$gray: #b8b8b8;
$lightGray: #ebebeb;
$darkGray: #616161;
$lightTeal: #16af8c;
$darkTeal: #0f8c73;
$blueGreen: #08485c;
$darkBlue: #142f42;
$darkBlue-faded: rgba(20, 47, 66, 0.726); 
$orange: #f38e36;
$red: #e83953;
$uiBlue: #0aa6ee;

// effects variables
$containerShadow: 0 1rem 2rem rgba(73, 73, 73, 0.3);

// box model variables
